<ng-container *ngIf="{ isInformer: isInformer$ | async,
     events : events$ | async,
     editable: editable$ | async,
     types: types$ | async } as data">
    <div *ngFor="let event of data.events; let i = index;" class="events">
        <div [ngSwitch]="event.type" [class.right]="(!isHome && event.isOur) || (isHome && !event.isOur)"
            class="inline-flex">
            <div *ngSwitchCase="MatchEventType.Goal"><img class="width20px" alt="Гол" src="/img/goal.png"
                    [title]="event.typeName">{{event.personName}} - {{event.minute}}' </div>
            <div *ngSwitchCase="MatchEventType.GoalPenalty"><img class="width20px" alt="Гол" src="/img/goal.png"
                    [title]="event.typeName">(П){{event.personName}} - {{event.minute}}' </div>
            <div *ngSwitchCase="MatchEventType.GoalPenaltySeries"><img class="width20px" alt="Гол" src="/img/goal.png"
                    [title]="event.typeName">(П){{event.personName}}</div>
            <span *ngSwitchCase="MatchEventType.GoalOwn"><img class="width20px" alt="Гол" src="/img/goal_own.png"
                    [title]="event.typeName">(А){{event.personName}} - {{event.minute}}' </span>
            <span *ngSwitchCase="MatchEventType.Assist" [title]="event.typeName">({{event.personName}})</span>
            <span *ngSwitchCase="MatchEventType.Yellow" class="flex-v-c">
                <mat-icon class="color-gold">sim_card_alert</mat-icon>{{event.personName}} - {{event.minute}}'
            </span>
            <div *ngSwitchCase="MatchEventType.Red" class="flex-v-c">
                <mat-icon class="color-red" [title]="event.typeName">sim_card_alert</mat-icon>{{event.personName}} -
                {{event.minute}}'
            </div>
            <div *ngSwitchCase="MatchEventType.SubstitudeOut" class="flex-v-c" [title]="event.typeName">
                <mat-icon class="color-red">arrow_downward</mat-icon>{{event.personName}} - {{event.minute}}'
            </div>
            <div *ngSwitchCase="MatchEventType.SubstitudeIn" class="flex-v-c" [title]="event.typeName">
                <mat-icon class="color-green">arrow_upward</mat-icon>{{event.personName}} - {{event.minute}}'
            </div>
            <span *ngSwitchCase="MatchEventType.NotGoalPenalty"><img class="width20px" alt="Незабитый пенальти" src="/img/goal_own.png"
                    [title]="event.typeName">П(нереализованный)&nbsp;{{event.personName}} - {{event.minute}}' </span>
            <span *ngSwitchCase="MatchEventType.NotGoalPenaltySeries"><img class="width20px" alt="Незабитый пенальти" src="/img/goal_own.png"
                    [title]="event.typeName">П(нереализованный)&nbsp;{{event.personName}}</span>
            <span *ngSwitchCase="MatchEventType.Injury"><span class="">Травма </span>{{event.personName}} - {{event.minute}}' </span>
            <span *ngSwitchCase="MatchEventType.DisallowedGoal"><img class="width20px" [alt]="event.typeName" src="/img/not_goal.png"
                [title]="event.typeName">{{event.personName}} - {{event.minute}}' </span>
            <i *ngIf="data.isInformer" role="button" (click)="setEditing(event)">
                <mat-icon class="small">edit</mat-icon>
            </i>
            <i *ngIf="data.isInformer" role="button" (click)="showDeleteModal(event.id)">
                <mat-icon class="small">clear</mat-icon>
            </i>
        </div>
    </div>
    <div *ngIf="data.isInformer" class="full-width">
        <div class="full-width flex-space-between">
            <button mat-raised-button color="warn" (click)="setEditing({isOur: isHome})" *ngIf="!data.editable">Добавить событие</button>
            <button mat-raised-button color="warn" (click)="setEditing({isOur: !isHome})" *ngIf="!data.editable">Добавить событие</button>
        </div>

        <button mat-raised-button (click)="setEditing(null)" *ngIf="data.editable">Отменить редактирование</button>
        <div class="full-width top20" *ngIf="data.editable">
            <match-event-edit-panel [types]="data.types" 
                [matchId]="matchId"               
                [selectedEvent]="data.editable" 
                (updated)="updateEvent($event)"
                >
            </match-event-edit-panel>
        </div>
    </div>
</ng-container>
