@import 'src/assets/styles/abstracts/module';

.block-minichat {
    background-color: $lfc-red-6;
}

.title {
    text-transform: uppercase;
    color: orange;
    padding: 4px;
    text-align: center;
}
