<mat-sidenav-container (backdropClick)="onCloseMenu()">
    <mat-sidenav #sidenav mode="over" class="sidenav" (keydown.escape)="onCloseMenu()" [fixedInViewport]="true"
        [fixedTopGap]="0" [fixedBottomGap]="0">

        <app-dynamic-content-outlet [componentName]="'NavbarMenuComponent'" class="nav-menu beauty-font">
        </app-dynamic-content-outlet>
        <button type="button" mat-button (click)="onCloseMenu()" class="full-width text-white">
            <mat-icon>close</mat-icon>
        </button>
    </mat-sidenav>
    <mat-sidenav-content class="main">
        <div class="main-container" [style.order]="1">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>