:host {
    .club {
        width: 120px;
    }

    .club-logo {
        max-width: 35px;
    }
    
    .club-name {
        display: flex;
        justify-content: center;
    }

    @media screen and (max-width: 1260px) {
        .club {
            width: 90px;
        }
        .stadium, .match-type {
            display: none;
        }
    }

    .links-column {
        height: 100%;
        width: 82px;
    }

    .score {
        font-size: 30px;
    }
}
