
.club-name {
    font-size: 20px;
}

@media screen and (max-width: 879px) {
    .club-name {
        display: none;
    }
}

.logo {
    height: 72px;
}

.score-text {
    font-size: 60px;
    min-height: 0;
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .score-text  {
        font-size: 30px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 100%;
}

.main-part {
    display: flex;

    & > * {
        flex: 1;
    }
}