<div class="text-white" *ngIf="usersOnline">
    <div>Посетителей всего: <span [textContent]="usersOnline.allCount" class="text-yellow"></span> / Гостей: <span [textContent]="usersOnline.guestCount" class="text-yellow"></span></div>
    <div *ngIf="usersOnline.users?.length > 0">Пользователи: <span *ngFor="let user of usersOnline.users; let i = index; let last = last">
        <a role="button" [routerLink]="['/users', user.id]" class="text-yellow" [textContent]="user.userName"></a><span *ngIf="!last">, </span></span>
    </div>
</div>
