a {
    padding: 0 12px;
}

.panel {     
    background-color: lightcyan;
    padding: 4px;
}

.green {
    background-color: white;
    color: green;
}

.red {
    background-color: white;
    color: red;
}
