@import 'src/assets/styles/abstracts/module';

@media (max-width: 767px) {
    .split-button {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .split-button {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .split-button {
        width: 50%;
    }
}

.counters {
    flex-grow: 0.3;
}

.login-list-panel {
    list-style: none;
    padding: 10px;
}

.online {
    background-color: $lfc-red-6;
    padding: 5px;
}
