<ng-container *ngIf="{ matchTypes: matchTypes$ | async } as data">
    <form *ngIf="editMatchForm" class="form-horizontal" role="form" [formGroup]="editMatchForm" (ngSubmit)="onSubmit()">
        <select-club-form-field formControlName="clubId" [clubName]="editMatchForm.get('clubName').value">
        </select-club-form-field>
        <mat-form-field class="full-width">
            <mat-select placeholder="Категория" formControlName="typeId">
                <mat-option *ngFor="let type of data.matchTypes" [value]="type.id" [textContent]="type.name"></mat-option>
            </mat-select>
        </mat-form-field>

        <select-season-form-field formControlName="seasonId"
        [placeholder]="'Сезон (если пустое, то текущий сезон)'" [seasonName]="editMatchForm.get('seasonName').value"
        (clearSeason)="onClearSeason($event)">
        </select-season-form-field>

        <div class="full-width text-center">
            Выезд <mat-slide-toggle formControlName="isHome" color="warn">
                Дома
            </mat-slide-toggle>
        </div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Стадион (если пустое, то стадион домашней команды)"
             [matAutocomplete]="stadium" formControlName="stadiumName">
            <mat-autocomplete #stadium="matAutocomplete">
                <mat-option *ngFor="let stadium of stadiums$ | async" [value]="stadium.name"
                    (click)="selectStadium(stadium.id)">
                    <span>{{ stadium.name }}-{{stadium.city}}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <div class="full-width flex-space-around flex-v-c">
            <mat-form-field>
                <input matInput type="time" formControlName="time" placeholder="Время" />
            </mat-form-field>

            <mat-form-field>
                <input matInput [matDatepicker]="datePicker" placeholder="Выберите дату" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker startView="year" touchUi="true"></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="full-width text-center">
            <mat-slide-toggle formControlName="postponed" color="warn">
                Отложен
            </mat-slide-toggle>
        </div>
        <mat-form-field class="full-width">
            <input matInput placeholder="Превью id" formControlName="previewId">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Фото id" formControlName="photoUrl">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Видео url" formControlName="videoUrl">
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Вердикт id" formControlName="reportId">
        </mat-form-field>

        <div class="full-width">
            <button mat-raised-button color="warn" type="submit" [disabled]="!editMatchForm.valid">Сохранить</button>
        </div>
    </form>
</ng-container>