:host {

    .clubName, .info {
        font-size: 1.2em;
        text-align: center;
    }

    @media (min-width: 768px) and (max-width: 1250px) {
        .clubName {
            display: none;
        }
    }

    .score {
        font-size: 25px;
    }

    .stadium {
        font-size: 15px;
    }
}

.logo {
    height: 36px;
}

.club-info {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
}
