@use '@angular/material' as mat;

@include mat.core();

@import 'palettes';

$lfc-primary: mat.define-palette($lfc-red, 500);

$lfc-accent: mat.define-palette($lfc-orange, 300);

$lfc-warn: mat.define-palette($lfc-warning, 500);


$lfc-theme: mat.define-light-theme((
    color: (
      primary: $lfc-primary,
      accent: $lfc-accent,
      warn: $lfc-warn,
    )
));


@include mat.all-component-themes($lfc-theme);
