$lfc-red-6: #780000;
// $stratus-blue-1: #0282af;
// $stratus-blue-2: #00aeed;
// $stratus-blue-3: #61c5f0;
// $stratus-blue-4: #c6eafa;
// $stratus-blue-5: #49ade8;

// $blue-light: #cbe4ec;

// $stratus-yellow-1: #ffb74d;
// $stratus-yellow-2: #f7d780;
// $stratus-yellow-3:#ffd9a1;
// $stratus-yellow-4: #ff9000;

// $gray: #e8e8e8;
// $gray-light: #f7f7f7;
// $gray-dark: #262626;
// $gray-1: #d2d2d2;
// $gray-disabled: #bdbdbd;

// $green: #06c71e;
// $white: #FFFFFF;
// $orange: #ff9870;
// $purple: #ab5dd5;
// $blue: #01afeb;

// $page-bg: #d3dce0;
// $page-card-bg: #ffffff;

//Transparent Backgrounds
$transparent-bg: rgba($color: #FFFFFF, $alpha: 0.6);
$table-transparent-bg: $transparent-bg;

//Shadows
//$mat-toolbar-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.14);

//$custom-fonts-path: 'assets/fonts' !default;
//$font-stack: (Roboto, 'Arial', 'Helvetica');

$normal-font-weight: 400;
$bold-font-weight: 700;

$lg-font-size: 16px;
$md-font-size: 15px;
$sm-font-size: 13px;

//$images-path: 'assets/img/';
