$lfc-red-6: #780000;

//Transparent Backgrounds
$transparent-bg: rgba($color: #FFFFFF, $alpha: 0.6);
$table-transparent-bg: $transparent-bg;

//Shadows
//$mat-toolbar-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.14);

//$custom-fonts-path: 'assets/fonts' !default;
//$font-stack: (Roboto, 'Arial', 'Helvetica');

$normal-font-weight: 400;
$bold-font-weight: 700;

$lg-font-size: 16px;
$md-font-size: 15px;
$sm-font-size: 13px;
